<!DOCTYPE html>
<!--Declare markup language type-->
<!--This is a comment. It is ignored by computers. Anything can be in a comment. Most times comments are added to describe what code does-->

<!--Html tag starts the document for html tags-->
<html>

<!--Head html holds meta data and external scripts used to make special changes to webpages-->
<head>
</head>

<!--Main html holds all tags containg text-->
<body>
  
  <!--Header tag. There are 6 headers h1, h2 ... h6-->
  <h1>Hello World</h1>

  <!--Paragraph tag. Used for putting general text-->
  <p>My first webpage</p>
  
  <!--Link tag. Used for linking to other pages or websites-->
  <a href="/advanced">LINK!</a>
  
  <!--Image tag. You can use image links to use images on your webpage-->
  <img src="https://github.com/hackclub/dinosaurs/raw/master/smart_dinosaur_docs.png">

<!--Closing body and html tags. All html tags must be closed-->
</body>
</html>
